.scroller {
  right: 50px;
  position: absolute;
  overflow: auto;
  height: 100%;
  top: 0;
  right: 0; }

body {
  background-color: #f5f5f5;
  margin: 0;
  font-family: 'arial'; }

.clearfix {
  clear: both; }

.block-center {
  margin: auto;
  display: table;
  float: none; }

.pull-left {
  float: left; }

.offset-left-300 {
  margin-left: 300px; }

.offset-left-100 {
  margin-left: 100px; }

.offset-left-20 {
  margin-left: 20px; }

.offset-left-28p {
  margin-left: 28%; }

.timelineData-wapper {
  height: 100%;
  margin-left: 53%;
  position: absolute;
  width: 200px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center; }

.timelineData {
  width: 100%;
  background-color: white;
  text-align: center;
  font-size: 13px;
  -moz-box-shadow: inset 0px 1px 3px gray;
  -webkit-box-shadow: inset 0px 1px 3px gray;
  box-shadow: inset 0px 1px 3px gray;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 27px;
  line-height: 27px; }

.timeline-wrapper {
  height: 100%;
  font-family: arial !important;
  position: absolute; }

.timeline {
  width: 200px;
  background-color: white;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  overflow: hidden; }

.for-scroll {
  height: auto;
  width: 100%;
  position: absolute;
  z-index: 1;
  cursor: move; }

.timeline-inner {
  position: relative;
  height: 73%;
  width: 100%;
  overflow: hidden;
  padding: 10px 0; }
  .timeline-inner .line-vert {
    position: absolute;
    width: 2px;
    background-color: #eee;
    left: 50%;
    margin-left: -1px;
    height: 100%;
    top: 0;
    z-index: 0; }
  .timeline-inner::before {
    height: 94%;
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 0px;
    z-index: 99;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
    background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff));
    background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #ffffff 100%); }
  .timeline-inner::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    z-index: 99;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff));
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%); }
  .timeline-inner ul.tl.widerUI li.hideMonth {
    visibility: hidden;
    opacity: 0;
    padding: 0;
    height: 0;
    overflow: hidden;
    margin: 0  auto !important; }
    .timeline-inner ul.tl.widerUI li.hideMonth.returnTmp {
      margin: 0 auto !important; }
  .timeline-inner .collapse-months {
    clear: both;
    width: 4px;
    height: 4px;
    background-color: #9a9a9a;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    z-index: 10;
    position: relative;
    cursor: pointer; }
    .timeline-inner .collapse-months::before {
      width: 6px;
      height: 6px;
      content: '';
      position: absolute;
      left: 50%;
      top: -7px;
      margin-left: -3px;
      background-color: #9a9a9a;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      display: block; }
    .timeline-inner .collapse-months::after {
      width: 6px;
      height: 6px;
      content: '';
      position: absolute;
      left: 50%;
      bottom: -7px;
      margin-left: -3px;
      background-color: #9a9a9a;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      display: block; }
  .timeline-inner .current-year {
    display: none !important; }
    .timeline-inner .current-year:after {
      content: '';
      width: 6px;
      height: 6px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background-color: #c6c6c6;
      position: absolute;
      margin-left: -5px;
      bottom: -10px;
      left: 50%;
      border: solid 2px white; }
  .timeline-inner .current-year, .timeline-inner .prev-year {
    display: block;
    text-align: center;
    background-color: white;
    position: relative;
    z-index: 10;
    clear: both;
    color: #9a9a9a;
    font-weight: bold;
    line-height: normal;
    font-size: 15px;
    margin-top: 10px; }
  .timeline-inner .collapse-months {
    clear: both;
    width: 4px;
    height: 4px;
    background-color: #9a9a9a;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    z-index: 10;
    position: relative;
    cursor: pointer; }
    .timeline-inner .collapse-months::before {
      width: 6px;
      height: 6px;
      content: '';
      position: absolute;
      left: 50%;
      top: -7px;
      margin-left: -3px;
      background-color: #9a9a9a;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      display: block; }
    .timeline-inner .collapse-months::after {
      width: 6px;
      height: 6px;
      content: '';
      position: absolute;
      left: 50%;
      bottom: -7px;
      margin-left: -3px;
      background-color: #9a9a9a;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      display: block; }
  .timeline-inner .expand-current-year {
    width: 8px;
    height: 8px;
    background-color: #9a9a9a;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    z-index: 10;
    position: relative;
    cursor: pointer; }
    .timeline-inner .expand-current-year:before {
      width: 4px;
      height: 4px;
      content: '';
      position: absolute;
      left: 50%;
      top: -5px;
      margin-left: -2px;
      background-color: #9a9a9a;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      display: block; }
    .timeline-inner .expand-current-year:after {
      width: 4px;
      height: 4px;
      content: '';
      position: absolute;
      left: 50%;
      bottom: -5px;
      margin-left: -2px;
      background-color: #9a9a9a;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      display: block; }
  .timeline-inner .expand-months {
    padding: 10px 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    z-index: 10;
    position: relative;
    width: 6px;
    height: 6px;
    clear: both;
    cursor: pointer;
    overflow: hidden; }
    .timeline-inner .expand-months i {
      position: relative;
      display: block;
      background-color: #9a9a9a;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      height: 6px; }
      .timeline-inner .expand-months i:before {
        width: 4px;
        height: 4px;
        content: '';
        position: absolute;
        left: 50%;
        top: -5px;
        margin-left: -2px;
        background-color: #9a9a9a;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        display: block; }
      .timeline-inner .expand-months i:after {
        width: 4px;
        height: 4px;
        content: '';
        position: absolute;
        left: 50%;
        bottom: -5px;
        margin-left: -2px;
        background-color: #9a9a9a;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        display: block; }
  .timeline-inner ul.tl {
    display: block;
    list-style-type: none;
    padding: 6px 0;
    position: relative;
    z-index: 10;
    cursor: initial;
    width: 62%;
    margin: auto;
    margin-right: auto; }
    .timeline-inner ul.tl.visible-year {
      padding-bottom: 30px; }
      .timeline-inner ul.tl.visible-year .current-year {
        display: block !important; }
    .timeline-inner ul.tl:last-of-type {
      margin-bottom: 30px; }
    .timeline-inner ul.tl .year-button {
      background-color: #f5f5f5; }
    .timeline-inner ul.tl.first-year li:first-of-type {
      padding-top: 0; }
    .timeline-inner ul.tl.first-year:before {
      content: 'Now';
      margin: auto;
      display: block;
      margin-bottom: 15px;
      text-align: center;
      background-color: white;
      color: #c6c6c6;
      font-size: 12px; }
    .timeline-inner ul.tl li {
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding: 6px 6px; }
      .timeline-inner ul.tl li.returnTmp {
        -moz-transition-property: all;
        -o-transition-property: all;
        -webkit-transition-property: all;
        transition-property: all;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -moz-transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in; }
    .timeline-inner ul.tl li, .timeline-inner ul.tl a {
      width: 110px; }
    .timeline-inner ul.tl a {
      -moz-transition-property: all;
      -o-transition-property: all;
      -webkit-transition-property: all;
      transition-property: all;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -moz-transition-timing-function: ease-in;
      -o-transition-timing-function: ease-in;
      -webkit-transition-timing-function: ease-in;
      transition-timing-function: ease-in;
      background-color: white;
      text-align: center;
      margin: 0 auto;
      font-size: 12px;
      padding: 5px 0;
      cursor: pointer;
      text-decoration: none;
      color: #757575;
      display: block;
      -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px; }
      .timeline-inner ul.tl a.active {
        background-color: #555299;
        color: white;
        -moz-box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.2); }
        .timeline-inner ul.tl a.active:hover {
          -moz-box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.2);
          -webkit-box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.2); }
      .timeline-inner ul.tl a:hover {
        -moz-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); }
    .timeline-inner ul.tl.months {
      margin: 10px 0;
      float: left; }
      .timeline-inner ul.tl.months:before {
        content: '';
        width: 8px;
        height: 8px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background-color: #757575;
        position: absolute;
        margin-left: -4px;
        top: -3px;
        left: 50%;
        border: solid 2px white; }

.hideTopGroup .topGroup {
  visibility: hidden;
  height: 0;
  margin: 0 auto;
  padding: 0;
  overflow: hidden; }

/*# sourceMappingURL=timeline.css.map */
